div{
    background-color: yellow;
}

form{
    background-color: red;
}

input{
    background-color: inherit;
}

button{
    background-color: inherit;
}

button:hover{
    background-color: pink;
}

/* colour pallents(kon se combination ke color ache lagenge website se search krl0, colorspace, canva,coolors  ) */